<ion-view>
    <ion-header-bar class="bar-assertive" ng-controller="AppController">
        <div class="buttons">
            <button ng-click="openLeftPanel()" class="button button-icon icon ion-navicon"></button>
        </div>
        <h1 class="title">{{'article' | translate}}</h1>
    </ion-header-bar>
    <div class="bar  bar-subheader">
        <div class="button-bar">
            <a class="button">All</a>
            <a class="button">Parks</a>
            <a class="button">Communities</a>
            <a class="button">Communities</a>
        </div>
    </div>
    <ion-content start-y="55" ng-controller="ArticlesController" has-header="true" has-subheader="true" has-footer=false">
        <ion-list style="padding-top: 45px;">
            <div class=" item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" ng-model="searchString" placeholder="{{ 'search' | translate }}">
                </label>
                <button class="button button-clear" ng-if="searchString" ng-click="clearFilter()">
                    <i class="icon ion-close-circled" ></i>
                </button>
            </div>
            <ion-item ng-repeat="article in articles | filter:searchString" type="item-text-wrap" href="#/article/{{article.id}}">
                <h3>{{article.title}}</h3>
                <p>{{article.description}}</p>
            </ion-item>

        </ion-list>
        <button  ng-click="openRightPanel()" class="button">Chapters openRightPanel</button>
    </ion-content>nt>

</ion-view>
